td {
    text-align: center;
  }
  
  button {
    background-color: #af4caf; /* Fondo verde */
    border: none; /* Sin bordes */
    color: white; /* Texto blanco */
    text-align: center; /* Centrado del texto */
    font-size: 16px; /* Tamaño del texto */
    margin: 5px 2px; /* Márgenes entre botones */
    border-radius: 4px; /* Bordes redondeados */
  }